<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        {{ page.content }}
        {{ "<h1>Hello</h1> World" | strip_html }}
        <div>{{page_title | upcase | hmac_sha256: 'a' }}</div>
        <div>{{page_title | upcase | hmac_sha256: 'b' }}</div>
        <div>{{page_title | upcase | hmac_sha256: 'c' }}</div>
      </div>
    </div>
  </div>
</div>
