<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        {{ page.content }}
        {{ "The cat came back the very next day!" | split: '' | reverse | join: ''}}
        {{ 'shop.css' | asset_url }}
        {{ 'logo.png' | asset_img_url: '300x' }}
        {{ 'size-chart.pdf' | file_url }}
        {{ 'logo.png' | file_img_url: '1024x768' | img_tag }}
		{{ 'Log in' | customer_login_link }}
      </div>
      <div>
      	{{ product | img_url: '100x100' | img_tag }}
		{{ variant | img_url: '720x720' }}
		{{ line_item | img_url: '1024x' }}
		{{ product | img_url }}
      </div>
    </div>
  </div>
</div>
